<div id= "add_menu">
  <ul>
    <li><a href="/add_assignment">Add assignment</a></li>
    <li><a href="/add_link">Add article or video</a></li>
    <li><a href="/add_partner">Add partner</li>
    </ul>
</div>