<h2 class= centered>Please enter the partner information:</h2>

<form action="/save_partner">
  <input type="number" placeholder="Enter assignment ID" name="assignment_id">
  <input type="text" placeholder="Enter partner name" name="partner">

  <input type="submit">
</form>