<h2 class= centered>Please enter the assignment information:</h2>

<form action="/save_assignment">
  <input type="text" placeholder="Enter assignment name" name="name">
  <input type="text" placeholder="Enter description" name="description">
  <input type="text" placeholder="Enter github" name="github">

  <input type="submit">
</form>