<h2 class= centered>Please enter the article and/or video information:</h2>

<form action="/save_link">
  <input type="number" placeholder="Enter assignment ID" name="assignment_id">
  <input type="text" placeholder="Enter link" name="article_or_video">

  <input type="submit">
</form>