<h2 class= centered>Please enter the name of the partner you would like assignments for:</h2>

<form action="/api_partner_assign/<% params["x"] %>">
  <input type="text" placeholder="Enter partner name" name="partner">

  <input type="submit">
</form>