<h2 class= centered>Here are your assignments:</h2>

  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Github</th>  
    </tr>
    <% Assignment.all.each do |assign| %>
    <tr>
      <td><%= assign.id %></td>
      <td><%= assign.name %></td>
      <td><%= assign.description %></td>
      <td><%= assign.github %></td>
    </tr>
    <% end %>
  </table>