     
     
<div><a href="/api/assignments" id= "all_assign">All assignments as JSON</a></div>
      
<ul id= "all">
        
</ul>
        
<div><a href="/api/all_links" id= "all_links">All article and/or videos as JSON</a></div>
      
<ul id= "links">
        
</ul>
      
<div><a href="/api/all_partners" id= "all_partners">All partners as JSON</a></div>
      
<ul id= "partners">
        
</ul>
      
      
<div><a href="/api/assignments" id= "delete_assignment">Delete an assignment JSON</div>
        
  <ul id= "add">
    
  </ul>
      

        
        