<div id= "menu">
  <ul>
    <li><a href="/add_menu">Add menu</a></li>
    <li><a href="/view_menu">View menu</a></li>
    <li><a href="/update_menu">Update menu</li>
    <li><a href="/delete_menu">Delete menu</a></li>
    </ul>
    

      <div><a href="/api_assignments">All assignments as JSON</a></div>
      <div><a href="/api_list">Single assignment as JSON</div>
      <div><a href="/api_all_links">All article and/or videos as JSON</div>
      <div><a href="/api_all_partners">All partners as JSON</div>
      <div><a href="/api_partner_form">All partner assignments by partner as JSON</div>
      <div><a href="/api_add_asign">Add an assignment JSON</div>
      <div><a href="/api_update_link">Update article and/or video to an assignment JSON</div>
      <div><a href="/api_update_partner">Update a partner to an assignment JSON</div>
      <div><a href="/api_delete_assign">Delete an assignment JSON</div>
      <div><a href="/api_delete_link">Delete an article and/or video from an assignment JSON</div>
      <div><a href="/api_delete_partner">Delete a partner from an assignment JSON</div>
        
      
        
    
</div>