<div id= "menu">
  <ul>
    <li><a href="/add_menu">Add menu</a></li>
    <li><a href="/view_menu">View menu</a></li>
    <li><a href="/update_menu">Update menu</li>
    <li><a href="/delete_menu">Delete menu</a></li>
    </ul>
    

      <div><a href="/api_assignments" id= "all_assign">All assignments as JSON</a></div>
      <div id = "all"></div>
      <div id= "list"><a href="/api_list">Single assignment as JSON</div>
      <div id= "single"></div>
    
</div>