<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/global.css">
  </head>
  <body>
    <%= yield %>
   
    <script type="text/javascript" src="/global.js"></script>
    
  </body>
</html>