<div id= "view_menu">
  <ul>
    <li><a href="/view_assignment">View assignment</a></li>
    <li><a href="/view_link">View article or video</a></li>
    <li><a href="/view_partner">View partner</li>
    </ul>
</div>