<h2 class= centered>Please enter the new partner information:</h2>

<form action="/change_partner/<%= params["x"] %>">
  <input type="text" placeholder="Enter partner" name="partner" value="<%= @entry.partner %>">
  
  <input type="submit">
</form>